@font-face {
    font-family: 'Commissioner';
    src: url('/s/assets/Commissioner.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner';
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
}

body {
    background-color: crimson;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
    animation: .5s ease-in fade-in;
    animation-fill-mode: forwards;
}

.object {
    font-size: 24px;
    background-color: rgba(255, 255, 255, .8);
    width: 648px;
    height: 648px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#filename {
    word-break: break-word;
    width: 65%;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.button {
    background-color: white;
    height: 75px;
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    transition-delay: .05s;
    user-select: none;
}

.button:hover {
    opacity: 1;
}

.button-icon {
    opacity: .8;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
